name: sherpa-ciam-home

services:
    db:
        container_name: db
        image: ghcr.io/identicum/postgres:16
        restart: always
        pull_policy: always
        ports:
            - 5432:5432
        environment:
            POSTGRES_PASSWORD: postgrespwd
        volumes:
            - ./postgres-initdb/:/docker-entrypoint-initdb.d/

    mailcatcher:
        container_name: mailcatcher
        image: ghcr.io/identicum/mailcatcher:latest
        pull_policy: always
        restart: always
        ports:
            - 1080:1080

    idp:
        container_name: idp
        image: ghcr.io/identicum/keycloak:26.1
        restart: always
        environment:
            KC_BOOTSTRAP_ADMIN_USERNAME: admin
            KC_BOOTSTRAP_ADMIN_PASSWORD: admin
            KC_DB: postgres
            KC_DB_URL: jdbc:postgresql://db/keycloakdb
            KC_DB_USERNAME: keycloakusr
            KC_DB_PASSWORD: keycloakpwd
            KC_PROXY_HEADERS: xforwarded
            KC_HTTP_ENABLED: true
            KC_HOSTNAME_STRICT: false
        depends_on:
            db:
                condition: service_healthy

    idp_setup:
        container_name: idp_setup
        image: ghcr.io/identicum/sherpa-deploy:latest
        pull_policy: always
        environment:
            - LOG_LEVEL=TRACE
        volumes:
            - ../app/:/app/
            - ./conf/:/conf/
            - ./local.properties:/local.properties
            - ./objects/:/terraform-objects/
        command: "python3 /terraform-objects/local_apply.py"
        depends_on:
            idp:
                condition: service_healthy
            mailcatcher:
                condition: service_healthy

    nginx:
        container_name: nginx
        image: ghcr.io/identicum/nginx:latest
        pull_policy: always
        restart: always
        networks:
            default:
                aliases:
                    - localhost.idsherpa.com
        ports:
            - 443:443
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf
            - ./certs/:/etc/nginx/certs/
        depends_on:
            idp:
                condition: service_healthy

    home:
        container_name: home
        image: ghcr.io/identicum/sherpa-ciam-home:latest
        # pull_policy: always
        ports:
            - 80:5000
        env_file:
            - ./home.secrets
        environment:
            - LOG_LEVEL=DEBUG
            - APP_BASE_URL=http://localhost
            - SMTP_HOST=mailcatcher
            - SMTP_PORT=1025
            - SMTP_FROM_ADDR=ciam-home@idsherpa.com
            - IDP_BASE_URL=https://localhost.idsherpa.com
            - OIDC_CLIENT_ID=sherpaciamhome_client_id
            - OIDC_CLIENT_SECRET=sherpaciamhome_client_secret
            - OIDC_REDIRECT_URI=http://localhost/oidc_callback
            - OIDC_REALM=employees
        volumes:
            - ../app/:/app/
            - ./conf/:/conf/
            - ./data/:/data/
            - ./local.properties:/local.properties
            - ./objects/:/terraform-objects/
            - ./certs/localhost_idsherpa.crt:/usr/local/share/ca-certificates/localhost_idsherpa.crt
        depends_on:
            idp_setup:
                condition: service_completed_successfully
            nginx:
                condition: service_started