<!doctype html>
<html>
    <body>
        <span>
            Dear owner of application, this is the requested information regarding your Client.
        </span>
        <h1>General information</h1>
        <table border="1">
            <tr>
                <th>Environment</th>
                <td>{{ environment }}</td>
            </tr>
            <tr>
                <th>Realm</th>
                <td>{{ realm.realm }}</td>
            </tr>
            <tr>
                <th>Application name</th>
                <td>{{ normalizedClient.name }}</td>
            </tr>
            <tr>
                <th>Integration type</th>
                <td>{{ normalizedClient.tag }}</td>
            </tr>
            {% if normalizedClient.type == 'oidc' %}
                <tr>
                    <th>Discovery URL</th>
                    <td>{{ utils.getDiscoveryUrl(logger=utils.getLogger(), environment=environment, realm=realm, config=config) }}</td>
                </tr>
            {% endif %}
        </table>
        <h1>Client information</h1>
        <table border="1">
            <tr>
                <th>client_id</th>
                <td>{{ normalizedClient.client_id }}</td>
            </tr>
            {% if normalizedClient.client_secret %}
                <tr>
                    <th>client_secret</th>
                    <td>{{ normalizedClient.client_secret }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>redirect_uris</th>
                <td>
                    <ul>
                    {% for url in normalizedClient.redirect_uris %}
                        <li>{{ utils.formatUrl(logger=utils.getLogger(), url=url, rootUrl=normalizedClient.root_url) }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>post_logout_redirect_uris</th>
                <td>
                    <ul>
                    {% for url in normalizedClient.post_logout_redirect_uris %}
                        <li>{{ utils.formatUrl(logger=utils.getLogger(), url=url, rootUrl=normalizedClient.root_url) }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>