{% extends "index.html" %}

{% block title %}Client Info for {{ environment }} - {{ realm.realm }} - {{ normalizedClient.client_id }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Client Info for {{ environment }} - {{ realm.realm }} - {{ normalizedClient.client_id }}</h1>
    {% if normalizedClient %}
    <table class="table table-bordered" style="max-width:700px;">
        <tbody>
            <tr><th class="w-25">client_id</th><td colspan="2">{{ normalizedClient.client_id }}</td></tr>
            <tr>
                <th>client_secret</th>
                <td>
                    <form action="/clientinfo/{{environment}}/{{realm.realm}}/{{normalizedClient.client_id}}" method="post">
                        <input type="text" name="secret" id="secret" placeholder="Enter client secret">
                        <button id="btn-form" style="margin: 0px;">Validate</button>
                    </form>
                </td>
                <td>
                    {% if secretVerification %}
                        <span class="text-success">{{ secretVerification }}</span>
                    {% else %}
                        <span class="text-danger">Not verified</span>
                    {% endif %}
                </td>
            </tr>
            <tr><th>Name</th><td colspan="2">{{ normalizedClient.name }}</td></tr>
            <tr><th>Status</th>
                <td colspan="2">
                    {% if normalizedClient.enabled %}
                        <span title="Enabled" class="text-success">&#x2714;</span>
                    {% else %}
                        <span title="Disabled" class="text-danger">&#x2716;</span>
                    {% endif %}
                </td>
            </tr>
            <tr><th>Tag</th><td colspan="2">{{ normalizedClient.tag }}</td></tr>
            <tr><th>Owner email</th>
                <td>{{ normalizedClient.owner_email }}</td>
                <td>
                    {% if normalizedClient.owner_email %}
                    <a href="/clientinfo/{{ environment }}/{{ realm.realm }}/{{ normalizedClient.client_id }}/sendclientinfo" class="btn btn-primary btn-sm">Send Client info</a>
                    {% endif %}
                </td>
            </tr>
            <tr><th>Description</th><td colspan="2">{{ normalizedClient.description }}</td></tr>
            <tr><th>Access Type</th><td colspan="2">{{ normalizedClient.access_type }}</td></tr>
            <tr>
                <th>Flows</th>
                <td colspan="2">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Standard Flow</td>
                                <td>{% if normalizedClient.authorization_code_flow %}<span class="text-success">Enabled</span>{% else %}<span class="text-danger">Disabled</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Implicit Flow</td>
                                <td>{% if normalizedClient.implicit_flow %}<span class="text-success">Enabled</span>{% else %}<span class="text-danger">Disabled</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Direct Access Grants (ROPC)</td>
                                <td>{% if normalizedClient.ropc_flow %}<span class="text-success">Enabled</span>{% else %}<span class="text-danger">Disabled</span>{% endif %}</td>
                            </tr>
                            <tr>
                                <td>Service Accounts (client_credentials)</td>
                                <td>{% if normalizedClient.client_credentials_flow %}<span class="text-success">Enabled</span>{% else %}<span class="text-danger">Disabled</span>{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr><th>Root URL</th><td colspan="2">{{ normalizedClient.root_url }}</td></tr>
            <tr><th>Base URL</th><td colspan="2">{{ normalizedClient.base_url }}</td></tr>
            <tr>
                <th>Redirect URIs</th>
                <td colspan="2">
                    <ul class="list-unstyled mb-0">
                        {% for uri in normalizedClient.redirect_uris %}
                        <li>{{ uri }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Post Logout Redirect URIs</th>
                <td colspan="2">
                    <ul class="list-unstyled mb-0">
                        {% for uri in normalizedClient.post_logout_redirect_uris %}
                        <li>{{ uri }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Web Origins</th>
                <td colspan="2">
                    <ul class="list-unstyled mb-0">
                        {% for uri in normalizedClient.web_origins %}
                        <li>{{ uri }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr class="table-group-divider"><th colspan="3"></th></tr>
            <tr><th></th><th>Realm</th><th>Client</th></tr>
            <tr><th>Access Token Lifespan</th><td>{{normalizedClient.realm_access_token_lifespan}}</td><td><strong>{{normalizedClient.access_token_lifespan}}</strong></td></tr>
            <tr><th>Client Session Idle</th><td>{{normalizedClient.realm_client_session_idle}}</td><td><strong>{{normalizedClient.client_session_idle}}</strong></td></tr>
            <tr><th>Client Session Max</th><td>{{normalizedClient.realm_client_session_max}}</td><td><strong>{{normalizedClient.client_session_max}}</strong></td></tr>
            <tr><th>SSO Session Idle Timeout</th><td colspan="2"><strong>{{realm.ssoSessionIdleTimeout}}</strong></td></tr>
            <tr><th>SSO Session Max Lifespan</th><td colspan="2"><strong>{{realm.ssoSessionMaxLifespan}}</strong></td></tr>
            <tr class="table-group-divider"><th colspan="3"></th></tr>
            {% if warns %}
                <tr>
                    <th>Warnings</th>
                    <td colspan="2">
                        {% if warns|length > 0 %}
                            <ul class="list-unstyled mb-0">
                                {% for warn in warns %}
                                <li class="text-danger">&#8226; {{ warn.issueDescription }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No warnings found.</p>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    {% else %}
        <p>No client data found.</p>
    {% endif %}
</div>
{% endblock %}