{% extends "index.html" %}

{% block title %}Client Info for {{ environment }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Client Info List for {{ environment }}</h1>
    {% set realms = utils.getRealms(logger=utils.getLogger(), environment=environment, config=config) %}
    {% if realms and realms|length > 0 %}
    <table class="admin-links-table">
        <thead>
            <tr>
                <th>Realm</th>
            </tr>
        </thead>
        <tbody>
            {% for realmName in realms %}
            <tr>
                <td>
                    <a href="/clientinfo/{{ environment }}/{{ realmName }}">
                        {{ realmName }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No realms found for this environment.</p>
    {% endif %}
</div>
{% endblock %}
