<header>
    <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
    </div>
    <nav>
        <ul>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Links</a>
                <div class="dropdown-content">
                    {% for environment in utils.getEnvironments(logger=utils.getLogger(), config=config) %}
                    <a href="/links/{{environment}}">{{environment}}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Check clients</a>
                <div class="dropdown-content">
                    {% for environment in utils.getEnvironments(logger=utils.getLogger(), config=config) %}
                        <div class="submenu-parent">
                            <a href="/checkclients/{{environment}}">{{environment}}</a>
                        </div>
                    {% endfor %}
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Clients Activity</a>
                <div class="dropdown-content">
                    {% for environment in utils.getEnvironments(logger=utils.getLogger(), config=config) %}
                    <a href="/clientsactivity/{{environment}}">{{environment}}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Client Info</a>
                <div class="dropdown-content">
                    {% for environment in utils.getEnvironments(logger=utils.getLogger(), config=config) %}
                        <div class="submenu-parent">
                            <a href="/clientinfo/{{environment}}">{{environment}} &raquo;</a>
                            <div class="dropdown-submenu">
                                {% for realm in utils.getRealms(logger=utils.getLogger(), environment=environment, config=config) %}
                                    <a href="/clientinfo/{{environment}}/{{realm}}">{{realm}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Terraform check</a>
                <div class="dropdown-content">
                    {% for environment in utils.getEnvironments(logger=utils.getLogger(), config=config) %}
                    <a href="/terraformcheck/{{environment}}">{{environment}}</a>
                    {% endfor %}
                </div>
            </li>
            <li>
                <a href="/clientcreation">{{ messages['menu.clientcreation'] }}</a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">{{ messages['menu.usersessionslookup'] }}</a>
                <div class="dropdown-content">
                    {% for environment in utils.getEnvironments(logger=utils.getLogger(), config=config) %}
                        <div class="submenu-parent">
                            <a href="/user-sessions-lookup/{{environment}}">{{environment}} &raquo;</a>
                            <div class="dropdown-submenu">
                                {% for realm in utils.getRealms(logger=utils.getLogger(), environment=environment, config=config) %}
                                    <a href="/user-sessions-lookup/{{environment}}/{{realm}}">{{realm}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </nav>
</header>
